<h1><%= t('.sign_up') %></h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <%= f.simple_fields_for(:associate) do |f_associate| %>
    <%= f_associate.input :name %>
    <%= f_associate.input :cpf %>
    <%= f_associate.input :date_of_birth %>
    <%= f_associate.input :marital_status %>
    <%= f_associate.input :nationality %>
    <%= f_associate.input :profession %>
    <%= f_associate.input :telephone %>

    <%= f_associate.simple_fields_for(:address) do |f_address| %>
      <%= f_address.input :street %>
      <%= f_address.input :number %>
      <%= f_address.input :complement %>
      <%= f_address.input :zipcode %>
      <%= f_address.input :neighborhood %>
      <%= f_address.input :city %>
      <%= f_address.input :state %>
    <% end %>
  <% end %>

  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form-group">
    <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
