<!-- <p id="notice"><%= notice %></p> -->

<div class="head-form">
  <h1>CONTA CORRENTE</h1>
</div>

<div class="container">
  <div class="row">
  	<div class="col-md-4 transacoes-info">
  		<div class="mb-3">
  			<p id="saldo_title">&nbsp;&nbsp;Saldo</p>
  			<div class="saldo mt-4 mb-4 text-center">
  				<h1> <%= number_to_currency(@cooperation.account.balance, prefix: nil) %></h1>
  			</div>
  		</div>
  		<div class="mt-4">

  			<table class="table table-striped">
  				<thead>
			      <tr>
			        <th>Quantidade de transações</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody>
		      	<tr>
		      		<td>18/10/2019</td>
		      		<td>4</td>
		      	</tr>
			    </tbody>
  			</table>
  		</div>
  	</div>
  	<div class="col-md-8">
  		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Data</th>
		        <th>Descrição</th>
		        <th>Valor</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @cooperation.transactions.each do |transaction| %>
		      	<tr>
		      		<td><%= l transaction.created_at, format: :short %></td>
		      		<td><%= transaction.description %></td>
		      		<td><%= number_to_currency(transaction.value) %></td>
		      	</tr>
		      <% end %>
		    </tbody>
		  </table>
  	</div>
  </div>
</div>
