
<%= simple_form_for(@cooperative) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <div class="col-md-12 col-lg-12">
      <%= f.input :name %>
    </div>
    <div class="col-md-12 col-lg-12">
      <%= f.input :description %>
    </div>
    <!-- <%= f.input :short_description %> -->
    <div class="col-md-12 col-lg-12">
      <%= f.association :segment %>
    </div>
    <div class="col-md-6 col-lg-6">
      <%= f.input :minimum_of_associates %>
    </div>
    <div class="col-md-6 col-lg-6">
      <%= f.input :share_capital, input_html: { class: 'money', type: 'text' } %>
      <small class=small>&nbsp;Valor máximo de um salário mínimo: R$998,00</small>
    </div>
    <div class="col-md-4 col-lg-4">
      <%= f.input :development_time_in_days %>
      <small class=small>&nbsp;Número de dias</small>
    </div>
    <div class="col-md-4 col-lg-4">
      <%= f.input :value_minimum_to_start, input_html: { class: 'money', type: 'text' }  %>
    </div>
    <div class="col-md-4 col-lg-4">
      <%= f.input :cost_per_transaction, input_html: { class: 'money', type: 'text' } %>
    </div>
    <div class="col-md-12 col-lg-12">
      <%= f.input :video_url %>
    </div>
    <div class="col-md-12 col-lg-12">
      <br><br><input id="aceita" type="checkbox"/>&nbsp;&nbsp;&nbsp;Eu li e concordo com os <a href="javascript:void(0)">termos</a> do estatuto social
    </div>
    <!-- <%= f.input :status, placeholder: "Segmentos", label: false %>
    <%= f.input :founder_id, placeholder: "Segmentos", label: false %> -->

    <div class="form-actions col-md-12 col-lg-12">
      <%= f.button :submit, value: "Salvar", class: 'btn btn-block btn-perfil' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  

  $(document).ready(function(){
    $("#cooperative_share_capital, #cooperative_minimum_of_associates").on('change, blur, focusout',function(){
      var capital = $("#cooperative_share_capital").val();
      var pessoas = $("#cooperative_minimum_of_associates").val();

      console.log(capital);
      console.log(pessoas);

      if(!capital.length || !pessoas.length){
        return;
      }

      $("#cooperative_value_minimum_to_start").val(parseFloat(capital) * parseFloat(pessoas));
    });
  })
</script>