<p id="notice"><%= notice %></p>

<h1>Cooperatives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Short description</th>
      <th>Segment</th>
      <th>Minimum of associates</th>
      <th>Value minimum to start</th>
      <th>Indicators</th>
      <th>Development time in days</th>
      <th>Share capital</th>
      <th>Video url</th>
      <th>Status</th>
      <th>Founder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cooperatives.each do |cooperative| %>
      <tr>
        <td><%= cooperative.name %></td>
        <td><%= cooperative.description %></td>
        <td><%= cooperative.short_description %></td>
        <td><%= cooperative.segment_id %></td>
        <td><%= cooperative.minimum_of_associates %></td>
        <td><%= cooperative.value_minimum_to_start %></td>
        <td><%= cooperative.indicators %></td>
        <td><%= cooperative.development_time_in_days %></td>
        <td><%= cooperative.share_capital %></td>
        <td><%= cooperative.video_url %></td>
        <td><%= cooperative.status %></td>
        <td><%= cooperative.founder_id %></td>
        <td><%= link_to 'Show', cooperative %></td>
        <td><%= link_to 'Edit', edit_cooperative_path(cooperative) %></td>
        <td><%= link_to 'Destroy', cooperative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cooperative', new_cooperative_path %>
