<p id="notice"><%= notice %></p>

<!-- <div class="top">
  <div class="container">
    <div class="row">


      <div class="col-md-6 col-lg-6">
        <img src="<%= image_path 'Voe.png' %>" alt="Logomarca">
      </div>

      <div class="col-md-6 col-lg-6 text-right">
        <%= link_to 'QUERO ME ASSOCIAR', new_cooperative_cooperation_path(@cooperative),
                    class: 'btn btn-light btn-perfil' %>
      </div>
    </div>
  </div>
</div> -->

<div id="video">

  <div id="block-video">
    <div id='top' class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <img src="<%= image_path 'Voe.png' %>" alt="Logomarca">
        </div>

        <div class="col-md-6 col-lg-6 text-right">
          <%= link_to 'QUERO ME ASSOCIAR', new_cooperative_cooperation_path(@cooperative),
                      class: 'btn btn-light btn-perfil' %>
        </div>
     </div>
    </div>
    <div id="conteudo" class="container">
      <div class="row">
        <div class="offset-md-1 offset-lg-1 col-md-5 col-lg-5">
          <h2><%= @cooperative.name %></h2>
          <h3><%= @cooperative.short_description %></h3>
        </div>
      </div>
    </div>
  </div>
  <iframe width="100%" height="700px" src="<%= @cooperative.video_url %>"></iframe>
</div>

<div id="icon-bar">
  <div class="row">
    <div class="col-md-3 col-lg-3 text-center">
      <h2><i class="fa fa-users" aria-hidden="true"></i></h2>
      <p>ASSOCIADOS</p>
      <h3>05</h3>
    </div>

    <div class="col-md-3 col-lg-3 text-center">
      <h2><i class="fa fa-money" aria-hidden="true"></i></h2>
      <p>ARRECADADO</p>
      <h3>2.700,00</h3>
    </div>

    <div class="col-md-3 col-lg-3 text-center">
      <h2><i class="fa fa-handshake-o" aria-hidden="true"></i></h2>
      <p>QUOTA-PARTES</p>
      <h3><%= number_to_currency @cooperative.share_capital %></h3>
    </div>

    <div class="col-md-3 col-lg-3 text-center">
      <h2><i class="fa fa-thermometer-quarter" aria-hidden="true"></i></h2>
      <p>STATUS</p>
      <h3><%= @cooperative.status %></h3>
    </div>
  </div>
</div>

<div id="idealizador">
  <p> <strong>Idealizador(a)</strong> </p>
  <h1><i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;<%= @cooperative.founder.name %></h1>
</div>

<div id="objetivo" class="container">
  <!-- <div id="background">

  </div> -->
  <div class="row">
    <div class="col-md-9 col-lg-9">
      <h3>Objetivo</h3>
      <p class="text-justify"><%= @cooperative.description %></p>
    </div>

    <div id="background">

    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-lg-2">
      <p> <strong>Segmento</strong> </p>
      <p><%= @cooperative.segment.name %></p>
    </div>

    <div class="col-md-2 col-lg-2">
      <p> <strong>Mínimo de pessoas</strong> </p>
      <p><%= @cooperative.minimum_of_associates %></p>
    </div>

    <div class="col-md-2 col-lg-2">
      <p> <strong>Custo da fundação</strong> </p>
      <p><%= number_to_currency @cooperative.value_minimum_to_start %></p>
    </div>

    <div class="col-md-3 col-lg-3">
      <p> <strong>Tempo de desenvolvimento</strong> </p>
      <p><%= @cooperative.development_time_in_days %></p>
    </div>
  </div>
</div>

<div id="compartilhar">
  <h3>Ajude a novos investidores a descobrir essa ideia</h3><br>

  <div class="share-icons-single">
    <a target="popup" id="share-fb" title="Compartilhar via Facebook">
      <i class="fa fa-facebook-square fa-2x"></i>
    </a>

    <a target="popup" id="twitter" title="Compartilhar via Twitter">
      <i class="fa fa-twitter-square fa-2x"></i>
    </a>

    <a target="popup" id="whats">
      <i class="fa fa-whatsapp fa-2x"></i>
    </a>
  </div>

  <script type="text/javascript">
    var url = window.location.href;
    const name = "<%= @cooperative.name %>";
    console.log(url);

    $("#share-fb").on('click', function(e){
      e.preventDefault();
      window.open('http://www.facebook.com/sharer.php?u=' +url + '&t=Apoie essa ideia! ' + name,'popup','width=600,height=600');
      return false;
    });

    $("#twitter").on('click', function(e){
      e.preventDefault();
      window.open('http://twitter.com/share?text=Apoie essa ideia! ' + encodeURI(name) + '&url=' + encodeURI(url),'popup','width=600,height=600');
      return false;
    });

    $("#whats").on('click', function(e){
      e.preventDefault();
      window.open('http://api.whatsapp.com/send?text=Apoie essa ideia! ' + name +' - ' + url,'popup','width=600,height=600');
      return false;
    })

  </script>

</div>

<div class="grafico container">
  <h3 class="text-center">Estimativa Econômica</h3>
  <canvas id="myChart" height="300"></canvas>
</div>

<script src="../assets/Chart.min.js"></script>
<script>
var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var config = {
			type: 'line',
			data: {
				labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho'],
				datasets: [{
					label: '',
					backgroundColor: '#ff0000',
					borderColor: '#ff0000',
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					fill: false,
				}, {
					label: '',
					fill: false,
					backgroundColor: "#0015ff",
					borderColor: "#0015ff",
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
				}]
			},
			options: {
         maintainAspectRatio: false,
				responsive: true,
				title: {
					display: true,
					text: ''
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Mês'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Valor'
						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('myChart').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};

    function randomScalingFactor(){
      return Math.floor((Math.random() * 1000) + 1);
    }
</script>
